.footer{
    width: 100%;
    height: 300px;
    margin-top: 20px;
    background-color: #0d1028;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    gap: 200px;
    &__icon{
       display: flex;
       gap: 10px;
       padding: 6px;
      cursor: pointer;
     
    }
.icon1:hover{
        background:linear-gradient(0deg, #828fff 0%, #d496ff 100%); 
    }

    .icon2:hover{
        background:linear-gradient(0deg, #828fff 0%, #d496ff 100%); 
    }

    .icon3:hover{
        background:linear-gradient(0deg, #828fff 0%, #d496ff 100%); 
    }


    .icon4:hover{
        background:linear-gradient(0deg, #828fff 0%, #d496ff 100%); 
    }

}