.card{
    text-align: center;
    margin-top: 100px;
  margin-left: 20px;
    &__img{
        background-color: rgb(255, 255, 255);
       img{
        border-top-left-radius: 17px;
        border-top-right-radius: 17px;
        padding: 20px;
       } 
    }
  
    width: 350px;
    height: 470px;
  background-color:#f9f9ff ;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    button{
        background-color: white;
        width: 130px;
        height: 40px;
        border: none;
        margin-left: 17px;
        border-radius: 6px;
        cursor: pointer;
    }
    button:hover{
        background:linear-gradient(0deg, #828fff 0%, #d496ff 100%); 
        border: 1px solid rgb(205, 135, 252);
        color: aliceblue;
        
        
    }
}